Clases/55310
**/node_modules
Entregas/BackEnd_desafio2_Pompei/Testing
Entregas/BackEnd_desafio3_Pompei/Testing
Entregas/BackEnd_desafio3_Pompei/node_modules/
Entregas/BackEnd_Preentrega1_Pompei/node_modules/
Entregas/BackEnd_Preentrega1_Pompei/Testing
Entregas/BackEnd_Desafio5_Pompei/Testing
Entregas/BackEnd_Desafio5_Pompei/node_modules/
