<h1>Chat</h1>
<div class="container mb-5">
  
<div>
  <input class="form-control" type="text" id="chatBox">
</div>
<div>
  <p class="m-3" id="messageChat"></p>
</div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/JS/chat.js"></script>