<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">E-commerce</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/products">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/carts">Carrito</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/chat">Chat</a>
                </li>
            </ul>
        </div>
    </nav>
</header>


<div class="container mt-4">
    <h1 class="mb-4">Administrar Productos</h1>
    <div class="btn-group mb-4">
        <button id="get-products-btn" class="btn btn-primary">Obtener Productos</button>
        <button id="update-products-btn" class="btn btn-warning">Actualizar Productos</button>
        <button id="create-products-btn" class="btn btn-success">Crear Producto</button>
        <button id="delete-products-btn" class="btn btn-danger">Eliminar Producto</button>
    </div>

    <div id="products-container" style="display: none;">
        <!-- Contenedor para mostrar los productos -->
    </div>

    <div id="update-form-container" style="display: none;">
        <h2 class="mb-4">Actualizar Producto</h2>
        <form id="update-form">
            <div class="form-group">
                <label for="product-id">ID del Producto:</label>
                <input type="text" id="product-id" name="product-id" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="title">Título:</label>
                <input type="text" id="title" name="title" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="description">Descripción:</label>
                <textarea id="description" name="description" class="form-control" required></textarea>
            </div>

            <div class="form-group">
                <label for="code">Código:</label>
                <input type="text" id="code" name="code" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="price">Precio:</label>
                <input type="number" id="price" name="price" step="0.01" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="status">Estado:</label>
                <select id="status" name="status" class="form-control" required>
                    <option value="available">Disponible</option>
                    <option value="out_of_stock">Agotado</option>
                </select>
            </div>

            <div class="form-group">
                <label for="stock">Stock:</label>
                <input type="number" id="stock" name="stock" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="thumbnails">Imágenes:</label>
                <input type="text" id="thumbnails" name="thumbnails" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary">Actualizar</button>
        </form>
    </div>



    <div id="create-form-container" style="display: none;">
        <h2 class="mb-4">Crear Nuevo Producto</h2>
        <form id="create-form">
            <div class="form-group">
                <label for="title">Título:</label>
                <input type="text" id="title" name="title" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="description">Descripción:</label>
                <textarea id="description" name="description" class="form-control" required></textarea>
            </div>

            <div class="form-group">
                <label for="code">Código:</label>
                <input type="text" id="code" name="code" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="price">Precio:</label>
                <input type="number" id="price" name="price" step="0.01" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="stock">Stock:</label>
                <input type="number" id="stock" name="stock" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="thumbnails">Imágenes:</label>
                <input type="text" id="thumbnails" name="thumbnails" class="form-control">
            </div>

            <button type="submit" class="btn btn-success">Crear</button>
        </form>
    </div>


    <div id="delete-form-container" style="display: none;">
        <h2 class="mb-4">Eliminar Producto</h2>
        <form id="delete-form">
            <div class="form-group">
                <label for="delete-product-id">ID del Producto a Eliminar:</label>
                <input type="text" id="delete-product-id" name="delete-product-id" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
    </div>

</div>

<script src="/JS/products.js"></script>
<script src="JS/home.js"></script>