<h1>Home Products</h1>
<h2>Lista de los productos</h2>
<!-- Contenedor donde se generarán las tarjetas de productos -->
  <div id="productContainer" class="flex-container"></div>
  <script src="/JS/home.js"></script>