<h1>Home</h1>

<div class="container mt-5">
  <div id="profile-container-home" style="display: none;">
    <p>Nombre: {{name}}</p>
    <p>Apellido: {{lastName}} </p>
    <p>Correo: {{email}} </p>
    <p>Rol: {{role}} </p>
  </div>


    <h1>Barra de Búsqueda</h1>
    <div class="d-flex">
      <input type="text" class="form-control me-2" placeholder="Buscar producto por ID" id="product-ID">      
      <button class="btn btn-primary" type="button" id="Button-search">Buscar</button>
    </div>
  </div>

<div id="products-container" class="container" >
</div>
  
<script src="/JS/home.js"></script>


